    @charset "UTF-8";
    @font-face {
        font-family: "horizon";
        src: url("font/horizon/Horizon.otf");
    }
    
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    
    body {
        background-color: #252425;
        overflow-x: hidden;
    }
    
    .topo {
        background-image: url("image/fundo/WhatsApp\ Image\ 2025-05-05\ at\ 15.37.13.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #25242538;
        flex-wrap: wrap;
        padding-right: 60px;
        transition-duration: 1s;
        position: sticky;
        margin-bottom: 150px;
    }
    
    .logo>img {
        height: 90px;
    }
    
    .sub-contato {
        margin-right: 350px;
        display: flex;
    }
    
    .sub-contato img {
        width: 50px;
        padding: 8px;
    }
    
    .navegador {
        border-bottom: 3px solid #ed0a24;
        overflow-x: auto;
        white-space: nowrap;
    }
    
    .navegador a {
        color: #e0e0e0;
        text-decoration: none;
        padding: 15px;
        font-weight: bolder;
        font-size: 1.5em;
        display: inline-block;
    }
    
    .navegador a:hover {
        text-decoration: 5px underline red;
    }
    
    .navegador::-webkit-scrollbar {
        background-color: #ed0a24;
    }
    
    #inicio {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        text-align: center;
    }
    
    .titulo {
        color: #e0e0e0;
        padding: 0px;
    }
    
    #inicio h2 {
        font-family: sans-serif;
        font-size: 2em;
        color: #e0e0e0;
    }
    
    #inicio h1 {
        font-family: "horizon";
        font-size: 4.5em;
        color: #ed0a24;
    }